/* Esto hara que todo lo que haya en el html, tenga estas caraceristicas */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*********************************/

body {
    background: #18171c;
}

.letras_chicas {
    color: white;

    font-family: monospace;
    white-space: nowrap;
    display: flex;
    border-right: 4px solid;

    animation: glitch 3s infinite;
    overflow: hidden;
}

.pc_letras {
    color: white;
    font-size: 4.5vw;
    font-family: monospace;
    white-space: nowrap;
    display: block;
    border-right: 4px solid;

    animation: glitch 3s infinite;
    overflow: hidden;
}

@keyframes glitch {
    0% {
        text-shadow: #b4cf06 0px 0px;
    }

    50% {
        text-shadow: #ff0000 -8px 0px;
    }

    0% {
        text-shadow: #b4cf06 0px 0px;
    }/* section {
    margin-bottom: 40px;
} */
}
/* Maquetacion */
section {
    margin-bottom: 40px;
}

.galeria
{
    padding: 20px;
}
/**************************************/


/* Texto y tipografia */
/* Texto */
h1 {
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    color: white;
    text-align: center;
    font-size: 1.8vw;
}

h2 {
    font-family: monospace;
    color: white;
    margin-bottom: 5px;
}

h3 {
    color: white;
    font-family: monospace;
    font-size: 1.8vw;
}

p {
    font-family: monospace;
    font-size: 1.8vw;
    color: white;
}

h5 {
    font-family: monospace;
}

/*****************************************/

/* centramiento de div */

.caja {
    display: flex;
    height: 100vh;
    place-items: center;
}

.contenedor {
    margin: auto;
    padding: 20px;
}

.contenedores
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
/******************************************/

/* Galeria  */
.titulo
{
    padding: 10px;
}

img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.caja-galeria {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    /* height: 100; */


}

.caja-galeria img {
    height: 100%;
    margin: 5px;
    object-fit: cover;
}

.centrado
{
    text-align: center;
}
/****************************/

/* Experiencia */

.titulo {
    color: white;
    text-align: center;
}

.contenedor_linea {
    margin: 50px;
    width: 80%;
    margin-bottom: 20px;
}

.contenido {
    margin-bottom: 10px;
    position: relative;
}

.contenido::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 120%;
    background: blue;
    left: -15px;
    top: 10px;
}

.contenido::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    left: -23px;
    top: 5px;
}


/****************************/

/* Habilidades tecnicas */


.lista {
    position: relative;
    width: 350px;
    flex: 30px;
    padding: 20px;
}

.lista h2 {
    padding: 10px 20px;
    font-weight: 600;
}

.lista ul {
    position: relative;
    padding: 20px;
}

.lista ul li {
    position: relative;
    list-style: none;
    padding: 15px 0;
    /* border: 3px solid rgba(red, green, rgb(255, 255, 255), alpha); */
    border-bottom: 2px solid rgb(252, 252, 252);
}


/* Contactame */

.contactos
{
    text-align: center;

    padding: 30px;
    font-size: 28px;
    color: white;
}

.link
{
    text-align: center;
    margin-top: 20px;
    border: 1px solid white;
    border-width: 2px;
    padding: 20px;

    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 40px;

    font-size: 18px;
}

a
{
    text-decoration: none;

    color: white;
    transition: color 1s;
}

a:hover
{
    color: black;

    background: white;
}


/* Noticias */

.noticia
{
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    text-align: justify;
}
/********************/

/* Header */

.toggle-menu
{
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
    filter: invert(1);
    width: 40px;
    z-index: 1;
}

@media screen and (min-width: 768px){
    .toggle-menu{
        display: none;
    }
}

.main-menu
{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: wheat; */
    transition: transform 0.3s;
    transform: translateY(-100%);
}

.main-menu--show
{
    transform: translateY(0);
}

.toggle-menu_checkbox
{
    display: none;
}

.toggle-menu_checkbox:checked + .main-menu
{
    transform: translateY(0);
}

@media screen and (min-width: 768px){
    .main-menu{
        flex-direction: row;
        transform: translateY(0);
    }
}

.main-menu_item
{
    padding: 1em;
    margin: 10px 20px;
}

.main-menu_link
{   
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

/* Enlaces */

.item
{
    scroll-margin-top: 8ex;
}

/********************/
         
/* Media Queries */
/*  */
@media (max-width: 768px) {
    .contenedores,.contenedor_linea, .lista, .caja {
        flex-direction: column;
        align-items: center;
    }
}
/**********************************/

/* header responsive */


/***************************/
/***************************/